<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HooraaConnectionString" connectionString="Data Source=DESKTOP-4V3GQET;Initial Catalog=doc;Integrated Security=True"
      providerName="System.Data.SqlClient" />
   <!--<add name="HooraaConnectionString" connectionString="Data Source=sql2008.bertina.ir,1430;Integrated Security=False;User ID=9991_hooraa;Password=Hooraa@34;Initial Catalog=9991_hooraa;Connect Timeout=30;Encrypt=False;Packet Size=4096"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <!--<staticContent>
      <mimeMap mimeType="application/font-woff" fileExtension=".woff" />
    </staticContent>-->
  </system.webServer>
  <appSettings>
    <add key="PgwSite" value="https://sep.shaparak.ir/Payment.aspx"/>
    <add key="TerminalId" value=""/>
    <add key="UserName" value="هورا"/>
    <add key="UserPassword" value="7725244"/>
    <add key="CallBackUrl" value="http://hooraa.com/Result.aspx"/>
    <add key="WebService.actions" value="http://70.38.36.201/post/actions.asmx"/>
    <add key="WebService.Send" value="http://apif.payamak-panel.com/post/Send.asmx"/>
    <add key="ir.shaparak.sep.InitPayment" value="https://sep.shaparak.ir/Payments/InitPayment.asmx"/>
    <add key="com.samanepay.acquirer.referencepayment" value="https://acquirer.samanepay.com/payments/referencepayment.asmx"/>
  </appSettings>
  <system.web>
    <sessionState timeout="60"/>
    <pages enableEventValidation="false"/>
    <!--<httpRuntime requestValidationMode="2.0" maxRequestLength="1000000" executionTimeout="1000000" requestLengthDiskThreshold="1000000" />-->
    <customErrors mode="Off"/>
    
    
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" name="ASPAUTH1" enableCrossAppRedirects="true" timeout="43200"/>
    </authentication>
    
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HooraaConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="HooraaConnectionString" applicationName="/"/>
      </providers>
      <properties>
        <add name="Name" type="String"/>
        <add name="Family" type="String"/>
        <add name="Sex" type="Boolean"/>
        <add name="BirthDate" type="String"/>
        <add name="NationalCode" type="String"/>
        <add name="IdNo" type="String"/>
        <add name="PostalCode" type="String"/>
        <add name="CodeTel" type="String"/>
        <add name="Tel" type="String"/>
        <add name="Mobile" type="String"/>
        <add name="Fax" type="String"/>
        <add name="Address" type="String"/>
        <add name="State" type="String"/>
        <add name="City" type="String"/>
        <add name="Meet" type="String"/>
        <add name="Agent" type="Boolean"/>
        <add name="Req" type="Boolean"/>
        <add name="News"/>
        <add name="Education" type="String"/>
        <group name="Real">
          <add name="Job" type="String"/>
        </group>
        <group name="Legal">
          <add name="Type" type="String"/>
          <add name="CorpName" type="String"/>
          <add name="Activity" type="String"/>
          <add name="EconomicCode" type="String"/>
          <add name="NationalId" type="String"/>
          <add name="Position" type="String"/>
          <add name="DirectPhone" type="String"/>
        </group>
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HooraaConnectionString" applicationName="/"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@shadab.net">
        <network host="mail.noyaban.com" userName="info@shadab.net" password="Shadab@123" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<location path="user">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="real,job" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->
</configuration>